@model List<Entities.Concrete.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<td>
    <a class="btn btn-success" href="/Product/ProductAdd">Ürün Ekle</a>

</td>
<table id="myTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Ürün İsmi
            </th>
            <th>
                Fiyat
            </th>
            <th>
                Stok
            </th>
            <th>

            </th>
            <th>

            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) ₺
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @*<a class="btn btn-danger" href="/Product/DeleteProduct/@item.Id">Sil</a>*@
                <a  class="btn btn-lighten-danger"  data-toggle="modal" data-target="#Modal1">Sil</a>
                <div class="modal" id="Modal1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2>Silmek istediğinize eminmisiniz?</h2>
                            </div>
                            <div class="modal-body">
                                <a class="btn btn-danger" href="/Product/DeleteProduct/@item.Id">Evet</a>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <a class="btn btn-success" href="/Product/ProductGet/@item.Id">Güncelle</a>

            </td>
        </tr>
        }
    </tbody>

</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });//myTable is the id of the table to be displayed as dataTable
        });
    </script>
}